@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}


body{
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(245, 245, 245);
}

#content{
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: rgb(220, 220, 224);
}

input{
 background-color: rgb(228, 203, 193);
}
button, input {
  border: none;
  margin: 10px;
  border-radius: 50px;
  padding: 5px 15px;
}

table{
  width: 100%;
}

.delete{
  color: red;
}

.update{
  color: green;
}
